.achievements {
    margin-bottom: 50px;
    
    color: $main_color;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        display: block;
        max-width: 495px;

        font-size: 36px;
        line-height: 50px;
        font-weight: 600;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 500px;
    }

    &__downloads,
    &__rating  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        width: auto;
    }

    &__downloads {
        margin-right: 90px;
    }

    &__icon {
        margin-bottom: 12px;

        cursor: pointer;

        &-like {
            width: 92px;
            height: 16px;

            background: url('../icons/like.svg') space;
        }

        &-star {
            width: 100px;
            height: 16px;

            background: url('../icons/star.svg') space;
        }
    }

    &__index {
        margin-bottom: 10px;

        font-size: 60px;
        line-height: 70px;
        
        letter-spacing: -1px;
        
    }

    &__descr {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 540px) {
    .achievements {
        margin-bottom: 23px;

        &__container {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    
        &__title {
            width: calc(100% - 24px);
            margin-bottom: 22px;

            font-size: 20px;
            line-height: 30px;
        }
    
        &__downloads,
        &__rating  {
            width: auto;
        }

        &__downloads {
            margin-right: 75px;
        }

        &__icon {
            margin-bottom: 10px;
    
            &-like {
                width: 49px;
                height: 8px;

                background: url('../icons/like_mobile.svg') space;
            }
    
            &-star {
                width: 50px;
                height: 8px;

                background: url('../icons/star_mobile.svg') round;
            }
        }

        &__index {
            font-size: 34px;
            line-height: 30px;
        }

        &__descr {
            font-size: 10px;
            line-height: 14px;
        }
    }
}